<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>你好 RxSwift！</string>
		<key>destVc</key>
		<string>ViewController_02</string>
		<key>units</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>Observable</string>
		<key>destVc</key>
		<string></string>
		<key>units</key>
		<array>
			<dict>
				<key>title</key>
				<string>创建 Observable</string>
				<key>destVc</key>
				<string>ObservableCreateVC</string>
			</dict>
			<dict>
				<key>title</key>
				<string>订阅 Observable</string>
				<key>destVc</key>
				<string>ObservableSubscribeVC</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Observable 的销毁（Dispose）</string>
				<key>destVc</key>
				<string>ObservableDisposeVC</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Observer</string>
		<key>destVc</key>
		<string></string>
		<key>units</key>
		<array>
			<dict>
				<key>title</key>
				<string>直接在 subscribe、bind 方法中创建观察者</string>
				<key>destVc</key>
				<string>ObserverViewController1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>使用 AnyObserver 创建观察者</string>
				<key>destVc</key>
				<string>ObserverViewController2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>使用 Binder 创建观察者</string>
				<key>destVc</key>
				<string>ObserverViewController3</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Subjects</string>
		<key>destVc</key>
		<string></string>
		<key>units</key>
		<array>
			<dict>
				<key>title</key>
				<string>PublishSubject</string>
				<key>destVc</key>
				<string>PublishSubjectVC</string>
			</dict>
			<dict>
				<key>title</key>
				<string>BehaviorSubject</string>
				<key>destVc</key>
				<string>BehaviorSubjectVC</string>
			</dict>
			<dict>
				<key>title</key>
				<string>ReplaySubject</string>
				<key>destVc</key>
				<string>ReplaySubjectVC</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Variable</string>
				<key>destVc</key>
				<string>VariableVC</string>
			</dict>
			<dict>
				<key>title</key>
				<string>BehaviorRelay</string>
				<key>destVc</key>
				<string>BehaviorRelayVC</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>变换操作（Transforming Observables）</string>
		<key>destVc</key>
		<string>TransformingObservablesVC</string>
		<key>units</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>过滤操作符（Filtering Observables）</string>
		<key>destVc</key>
		<string>FilteringObservablesVC</string>
		<key>units</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>条件和布尔操作符（Conditional and Boolean Operators）</string>
		<key>destVc</key>
		<string>ConditionalAndBooleanOperatorsVC</string>
		<key>units</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>结合操作（Combining Observables）</string>
		<key>destVc</key>
		<string>CombiningObservablesVC</string>
		<key>units</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>算数、以及聚合操作（Mathematical and Aggregate Operators）</string>
		<key>destVc</key>
		<string>MathematicalAndAggregateOperatorsVC</string>
		<key>units</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>连接操作（Connectable Observable Operators）</string>
		<key>destVc</key>
		<string>ConnectableObservableOperatorsVC</string>
		<key>units</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>其他一些实用的操作符（Observable Utility Operators）</string>
		<key>destVc</key>
		<string>ObservableUtilityOperatorsVC</string>
		<key>units</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>错误处理操作（Error Handling Operators）</string>
		<key>destVc</key>
		<string>ErrorHandlingOperatorsVC</string>
		<key>units</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>调试操作</string>
		<key>destVc</key>
		<string>DebugOperatorsVC</string>
		<key>units</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>特征序列1：Single、Completable、Maybe</string>
		<key>destVc</key>
		<string>TraitsObservableVC1</string>
		<key>units</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>特征序列2：Driver</string>
		<key>destVc</key>
		<string>TraitsObservableVC2</string>
		<key>units</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>特征序列3：ControlProperty、 ControlEvent</string>
		<key>destVc</key>
		<string>TraitsObservableVC3</string>
		<key>units</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>调度器（Schedulers）</string>
		<key>destVc</key>
		<string>SchedulersVC</string>
		<key>units</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>UI控件扩展</string>
		<key>destVc</key>
		<string></string>
		<key>units</key>
		<array>
			<dict>
				<key>title</key>
				<string>UILabel</string>
				<key>destVc</key>
				<string>RXLabelVC</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UITextField、UITextView</string>
				<key>destVc</key>
				<string>RXTextFieldVC</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIButton、UIBarButtonItem</string>
				<key>destVc</key>
				<string>RXButtonVC</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UISwitch、UISegmentedControl</string>
				<key>destVc</key>
				<string>RXSwitchVC</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIActivityIndicatorView 与 UIApplication</string>
				<key>destVc</key>
				<string>RXActivityIndicatorViewVC</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UISlider、UIStepper</string>
				<key>destVc</key>
				<string>RXSliderVC</string>
			</dict>
			<dict>
				<key>title</key>
				<string>双向绑定：&lt;-&gt;</string>
				<key>destVc</key>
				<string>RXBindVC</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIGestureRecognizer</string>
				<key>destVc</key>
				<string>RXGestureRecognizer</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIDatePicker</string>
				<key>destVc</key>
				<string>RXDatePicker</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UITableView的使用1：基本用法</string>
				<key>destVc</key>
				<string>RXUITableViewVC1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UITableView的使用2：RxDataSources</string>
				<key>destVc</key>
				<string>RXUITableViewVC2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UITableView的使用3：刷新表格数据</string>
				<key>destVc</key>
				<string>RXUITableViewVC3</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UITableView的使用4：表格数据的搜索过滤</string>
				<key>destVc</key>
				<string>RXUITableViewVC4</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UITableView的使用5：可编辑表格</string>
				<key>destVc</key>
				<string>RXUITableViewVC5</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UITableView的使用6：不同类型的单元格混用</string>
				<key>destVc</key>
				<string>RXUITableViewVC6</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UITableView的使用7：样式修改</string>
				<key>destVc</key>
				<string>RXUITableViewVC7</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UICollectionView的使用1：基本用法</string>
				<key>destVc</key>
				<string>UICollectionView1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UICollectionView的使用2：RxDataSources</string>
				<key>destVc</key>
				<string>UICollectionView2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UICollectionView的使用3：刷新集合数据</string>
				<key>destVc</key>
				<string>UICollectionView3</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UICollectionView的使用4：样式修改</string>
				<key>destVc</key>
				<string>UICollectionView4</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIPickerView的使用</string>
				<key>destVc</key>
				<string>RXPickerView</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>[unowned self] 与 [weak self]</string>
		<key>destVc</key>
		<string>UnownedAndWeakVC</string>
		<key>units</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>URLSession的使用</string>
		<key>destVc</key>
		<string>RXURLSessionVC</string>
		<key>units</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>结合RxAlamofire使用</string>
		<key>destVc</key>
		<string>RxAlamofire</string>
		<key>units</key>
		<array>
			<dict>
				<key>title</key>
				<string>1、数据请求</string>
				<key>destVc</key>
				<string>RxAlamofire1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>2、结果处理、模型转换</string>
				<key>destVc</key>
				<string>RxAlamofire2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>3、文件上传</string>
				<key>destVc</key>
				<string>RxAlamofire3</string>
			</dict>
			<dict>
				<key>title</key>
				<string>4、文件下载</string>
				<key>destVc</key>
				<string>RxAlamofire4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>结合Moya使用</string>
		<key>destVc</key>
		<string>RxMoya</string>
		<key>units</key>
		<array>
			<dict>
				<key>title</key>
				<string>1、数据请求</string>
				<key>destVc</key>
				<string>RxMoya1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>2、结果处理、模型转换</string>
				<key>destVc</key>
				<string>RxMoya2</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
